<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Animals Shelter</title>

</head>
<body>
<h1>O_R Shelter</h1>
<a href="{% url 'animals:animals_list' %}">Головна</a>
<a href="{% url 'animals:add_animal' %}">Додати тваринку</a>
{% block content %}

{% endblock %}
</body>
</html>