{% extends 'base.html' %}

{% block content %}

<h2>Додати тваринку</h2>

<form method="post">
    {% csrf_token %}
    {{ form.as_p }}

    <button type="submit">Додати</button>
</form>

{% endblock %}
