{% extends 'base.html' %}

{% block content %}

<h2>Видалити тваринку</h2>

<p>Ви справді хочете видалити запис про "{{ animal.pet_name }}" ?</p>

<form method="post">
    {% csrf_token %}
    <button type="submit">Видалити...</button>
</form>

{% endblock %}
