{% extends 'base.html' %}

{% block content %}
<h2>Змінити дані тваринки</h2>

<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Зберегти</button>
</form>
{% endblock %}
