{% extends 'base.html' %}

{% block content %}
<h2>Список тваринок</h2>

<!-- Фільтр по типу тварини -->
<form method="get" action="{% url 'animals:animals_list' %}">
    <label for="animal-type-filter">Відфільтрувати по типу:</label>
    <select name="pet_type" id="animal-type-filter">

        <option value="">Всі</option>
        <option value="Кіт">Коти</option>
        <option value="Пес">Собаки</option>
        <option value="Птичка">Птиці</option>
        <option value="Єнот">Єноти</option>
        <option value="Черепаха">Черепахи</option>

    </select>
    <button type="submit">Застосувати</button>
</form>
<br>

{% if animals %}
<table border="1">
    <thead>
    <tr>
        <!-- Заголовки з сортування за зростанням та спаданням -->
        <th>
            <a href="{% url 'animals:animals_list' %}?sort_by=pet_type">↑</a>
            Тип
            <a href="{% url 'animals:animals_list' %}?sort_by=-pet_type">↓</a>
        </th>
        <th>
            <a href="{% url 'animals:animals_list' %}?sort_by=pet_name">↑</a>
            Кличка
            <a href="{% url 'animals:animals_list' %}?sort_by=-pet_name">↓</a>
        </th>
        <th>
            <a href="{% url 'animals:animals_list' %}?sort_by=pet_birthday">↑</a>
            Дата народження
            <a href="{% url 'animals:animals_list' %}?sort_by=-pet_birthday">↓</a>
        </th>
        <th>
            <a href="{% url 'animals:animals_list' %}?sort_by=pet_age">↑</a>
            Вік
            <a href="{% url 'animals:animals_list' %}?sort_by=-pet_age">↓</a>
        </th>
        <th>
            <a href="{% url 'animals:animals_list' %}?sort_by=pet_height">↑</a>
            Зріст
            <a href="{% url 'animals:animals_list' %}?sort_by=-pet_height">↓</a>
        </th>
        <th>
            <a href="{% url 'animals:animals_list' %}?sort_by=pet_weight">↑</a>
            Вага
            <a href="{% url 'animals:animals_list' %}?sort_by=-pet_weight">↓</a>
        </th>
        <th>Паспорт</th>

    </tr>
    </thead>
    <tbody>
    {% for animal in animals %}
    <tr>
        <td>{{ animal.pet_type }}</td>
        <td>{{ animal.pet_name}}</td>
        <td>{{ animal.pet_birthday|date:"d.m.Y" }}</td>
        <td>{{ animal.pet_age }}</td>
        <td>{{ animal.pet_height }}</td>
        <td>{{ animal.pet_weight }}</td>
        {% if animal.pet_passport %}
        <td>{{ animal.pet_passport }}</td>
        {% else %}
        <td>-</td>
        {% endif %}
        <td><a href="{% url 'animals:animal_edit' animal_id=animal.id %}">Редагувати</a></td>
        <td><a href="{% url 'animals:animal_delete' animal_id=animal.id %}">Видалити</a></td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% else %}
<h2>Всі тваринки знайшли своїх власників!</h2>

{% endif %}

{% endblock %}
